# Testing
pytest==3.6.3
pytest-django==3.3.3
tox==3.1.2
mock==2.0.0

# Pre-commit hooks
pre-commit==1.10.4

# Syntax checking
flake8==3.5.0
flake8-bugbear==18.2.0; python_version >= '3.5'

# Dev shell
konch==2.4.0

# Install this package in development mode
-e '.'
